.no-favs {
  text-align: center;
  margin-top: 50%;
  color: gray;

  ion-icon {
    font-size: 48px;
  }

  p {
    font-size: 16px;
    margin-top: 10px;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card-left {
  flex: 1;
}

.card-right img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

//Parte superior de la pagina
.custom-header {
  --background: #ffffff !important;
  box-shadow: none;
  border-bottom: none;
  padding: -10px;
}

  //Nombre Logo
  .logo {
    font-size: 1.5rem;
    font-family: 'Impact', 'Arial Black', sans-serif;
    color: #8b0000;
    margin-left: -130px;
  }

  .avatar-container {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .profile-avatar img {
    width: 40px;
    height: 40px;
    border: 2px solid #8b0000;
    border-radius: 50%;
    margin-top: 15px;
    margin: 5px;
  
  }

  .notification-button {
    position: absolute;
    right: 40px;
    width: 40px;
    height: 25px;
    margin-left: 10;
    padding: 5px;

    //icono alerta
    ion-icon {
      font-size: 50px;
      color: #8b0000;
    }
  }


//Footer 
.custom-footer {
  --background: #8b0000 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 10;
  padding: 10px 0;

  .footer-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    ion-icon {
      color: #fff;
      font-size: 1.5rem;
    }
  }
}
