<app-header></app-header>

<ion-content>
<ion-list *ngIf="solicitudes.length > 0; else noSolicitudes">
  <ion-item *ngFor="let sol of solicitudes"  [class.clickable]="sol.estado === 'aceptada'" (click)="sol.estado === 'aceptada' ? verPerfil(sol.solicitanteUid) : null">
    
    <ion-thumbnail slot="start">
      <img [src]="sol.agregarfoto || 'https://via.placeholder.com/150'" alt="Foto publicación" />
    </ion-thumbnail>

    <div class="ion-label-container">
      <ion-label>
        <h3>Postulación de: {{ sol.solicitanteNombre }} {{ sol.solicitanteApellido }}</h3>
        <p><strong>Estado:</strong> {{ sol.estado }}</p>
        <p><strong>Fecha:</strong> {{ sol.fechaSolicitud?.toDate() | date:'short' }}</p>
      </ion-label>
    </div>

    <div class="solicitud-botones">
      <ion-button class="solicitud-botones-btn btn-aceptar" (click)="aceptarSolicitud(sol.id, sol.solicitanteUid)" [disabled]="sol.estado !== 'pendiente'">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
      <ion-button 
          (click)="aceptarSolicitud(sol.id, sol.solicitanteUid)" 
          [disabled]="sol.estado !== 'pendiente'">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </div>

  </ion-item>
</ion-list>


  <ng-template #noSolicitudes>
    <ion-text color="medium" class="ion-padding">
      No tienes solicitudes de empleo recibidas.
    </ion-text>
  </ng-template>
</ion-content>

<app-footer></app-footer>
