<ion-header class="custom-header">
  <ion-toolbar>
<ion-title class="logo" slot="start">MYJOBIFY</ion-title>
    <ion-buttons slot="end">
      <div class="avatar-container">
        
          <!-- Boton notificación -->
        <ion-button class="notification-button" color="danger" fill="clear">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>

          <!-- Boton perfil -->
        <ion-button fill="clear" [routerLink]="'/miperfil'" class="profile-btn">
          <ion-avatar class="profile-avatar">
            <img src="https://e7.pngegg.com/pngimages/789/888/png-clipart-computer-icons-login-person-user-avatar-log-smiley-desktop-wallpaper.png" alt="Perfil">
          </ion-avatar>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Cuerpo de la pagina -->
<ion-content class="inicio-content" [fullscreen]="true">

  <div class="inicio-container">
    
    <!-- Buscador -->
    <div class="search-bar">
      <ion-icon name="search" class="search-icon"></ion-icon>
      <input type="text" placeholder="Buscar por titulo o comuna" [(ngModel)]="filtroTexto" class="search-input">
    </div>

  <!-- Publicaciones -->
  <div *ngFor="let item of publicacionesFiltradas | slice:0:limite" class="card" (click)="verDetalle(item.id)">
    <div class="card-left">
      <h3>{{ item.titulo }}</h3>
      <div class="rating">
        <ion-icon name="star" color="warning"></ion-icon>
        <h5>{{ item.rating || '4.5' }}</h5>
      </div>
    </div>
    <div class="card-right">
      <img [src]="item.agregarfoto" alt="imagen" *ngIf="item.agregarfoto">
    </div>
  </div>
  </div>


    <!-- Scroll infinito -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarMas($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<!-- Fin del cuerpo -->

    <!-- Footer de la pagina -->
<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-buttons class="footer-buttons">
      <ion-button fill="clear" [routerLink]="'/inicio'">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="bookmark" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" [routerLink]="'/chat-preview'">
        <ion-icon name="chatbubble" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" [routerLink]="'/crear-publicacion'">
        <ion-icon name="add-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
