<app-header></app-header>

<ion-content class="inicio-content" [fullscreen]="true">
  <div class="inicio-container">

    <div class="search-bar">
      <ion-icon name="search" class="search-icon"></ion-icon>
      <input type="text" placeholder="Buscar por título o comuna" [(ngModel)]="filtroTexto" class="search-input" />
    </div>

    <div *ngFor="let item of publicacionesFiltradas | slice:0:limite" class="card" (click)="verDetalle(item.id)">
      <div class="card-left">
        <h3>{{ item.titulo }}</h3>
        <p>{{ item.comuna }}</p>
        <p class="descripcion">
          Pago estimado: {{ item.montoPaga | currency:'CLP':'symbol':'1.0-0' }}
        </p>

        <ion-button fill="clear" class="heart-btn" (click)="guardarPublicacion(item); $event.stopPropagation()">
          <ion-icon [name]="estaGuardada(item) ? 'heart' : 'heart-outline'" color="danger"></ion-icon>
        </ion-button>
      </div>
      <div class="card-right">
        <img [src]="item.agregarfoto" alt="Imagen" class="publicacion-img" *ngIf="item.agregarfoto" />
      </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarMas($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>
</ion-content>
<br>
<br>

<app-footer></app-footer>
