// Header
.custom-header {
  --background: #ffffff !important;
  box-shadow: none;
  border-bottom: none;
}

.logo {
  font-size: 1.5rem;
  font-family: 'Impact', 'Arial Black', sans-serif;
  color: #b30000;
  margin-left: -130px;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-avatar img {
  width: 40px;
  height: 40px;
  border: 2px solid #b30000;
  border-radius: 50%;
  margin: 5px;
  margin-top: 15px;
}

.notification-button {
  position: absolute;
  right: 40px;
  width: 40px;
  height: 25px;
  padding: 5px;

  ion-icon {
    font-size: 50px;
    color: #b30000;
  }
}

// Cuerpo
.inicio-content {
  --background: #ffffff;

  .inicio-container {
    padding: 10px 16px;

    .search-bar {
      display: flex;
      align-items: center;
      background-color: #fff;
      border: 2px solid #b30000;
      border-radius: 25px;
      padding: 8px 12px;
      margin: 16px 0;

      .search-icon {
        font-size: 20px;
        color: #b30000;
        margin-right: 8px;
      }

      input {
        border: none;
        outline: none;
        flex: 1;
        font-size: 16px;
      }
    }

    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f9f9f9;
      padding: 12px;
      margin: 10px 0;
      border-radius: 12px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

      .card-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h3 {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
        }

        p {
          margin: 4px 0;
          font-size: 14px;
        }

        .heart-btn {
          margin-top: 10px;
          padding: 0;
          height: auto;
        }
      }

      .card-right {
        img.publicacion-img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }
}

// Footer
.custom-footer {
  --background: #8b0000 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 10;
  padding: 10px 0;

  .footer-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    ion-icon {
      color: #fff;
      font-size: 1.5rem;
    }
  }
}

.custom-footer {
    --background: #8b0000 !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 10;
    padding-top: 6px;
  
  .footer-buttons {
      display: flex;
      justify-content: space-around;
      width: 100%;
      ion-icon {
        color: #fff;
        font-size: 1.5rem;
    }
  }
}