<ion-header class="custom-header">
  <ion-toolbar>
    <ion-title class="logo" slot="start">MYJOBIFY</ion-title>
    <ion-buttons slot="end">
      <div class="avatar-container">
        <ion-button class="notification-button" color="danger" fill="clear" [routerLink]="'/solicitud-empleo'">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear" [routerLink]="'/miperfil'" class="profile-btn">
          <ion-avatar class="profile-avatar">
            <img src="https://e7.pngegg.com/pngimages/789/888/png-clipart-computer-icons-login-person-user-avatar-log-smiley-desktop-wallpaper.png" alt="Perfil" />
          </ion-avatar>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botón volver -->
  <div style="position: absolute; top: 16px; left: 16px; z-index: 10;">
    <ion-button fill="clear" size="small" (click)="goBack()">
      <ion-icon name="arrow-back-outline" slot="icon-only" style="color: #8b0000; font-size: 24px;"></ion-icon>
    </ion-button>
  </div>

  <!-- Título -->
  <div class="crear-publicacion">
    <span>Crear publicación</span>
  </div>

  <!-- Imagen -->
  <div class="foto-publicacion-container" (click)="seleccionarImagen()">
    <img [src]="fotoPublicacion" alt="Agregar foto" class="foto-publicacion" />
  </div>

  <form [formGroup]="publicacionForm" (ngSubmit)="publicar()">
    <ion-item>
      <ion-input formControlName="titulo" placeholder="Escribe un título"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="publicacionForm.get('titulo')?.touched && publicacionForm.get('titulo')?.invalid">
      El título es obligatorio.
    </ion-text>

    <ion-item>
      <ion-textarea formControlName="descripcion" placeholder="Descripción"></ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="publicacionForm.get('descripcion')?.touched && publicacionForm.get('descripcion')?.invalid">
      La descripción es obligatoria.
    </ion-text>

    <ion-item>
      <ion-input type="number" formControlName="montoPaga" placeholder="Total a pagar en CLP"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="publicacionForm.get('montoPaga')?.touched && publicacionForm.get('montoPaga')?.invalid">
      El monto debe ser mayor o igual a 0.
    </ion-text>

    <div class="region-comuna">
      <strong>Región Metropolitana</strong>
      <ion-item>
        <ion-label color="danger">Comuna</ion-label>
        <ion-select formControlName="comuna" color="danger" interface="popover" placeholder="Selecciona una comuna">
          <ion-select-option value="santiago">Santiago</ion-select-option>
          <ion-select-option value="maipu">Maipú</ion-select-option>
          <ion-select-option value="las_condes">Las Condes</ion-select-option>
          <ion-select-option value="providencia">Providencia</ion-select-option>
          <ion-select-option value="la_florida">La Florida</ion-select-option>
          <ion-select-option value="puente_alto">Puente Alto</ion-select-option>
          <ion-select-option value="nunoa">Ñuñoa</ion-select-option>
          <ion-select-option value="la_reina">La Reina</ion-select-option>
          <ion-select-option value="macul">Macul</ion-select-option>
          <ion-select-option value="penalolen">Peñalolén</ion-select-option>
          <ion-select-option value="independencia">Independencia</ion-select-option>
          <ion-select-option value="huechuraba">Huechuraba</ion-select-option>
          <ion-select-option value="quilicura">Quilicura</ion-select-option>
          <ion-select-option value="recoleta">Recoleta</ion-select-option>
          <ion-select-option value="cerrillos">Cerrillos</ion-select-option>
          <ion-select-option value="el_bosque">El Bosque</ion-select-option>
          <ion-select-option value="san_bernardo">San Bernardo</ion-select-option>
          <ion-select-option value="lo_prado">Lo Prado</ion-select-option>
          <ion-select-option value="quinta_normal">Quinta Normal</ion-select-option>
          <ion-select-option value="estacion_central">Estación Central</ion-select-option>
          <ion-select-option value="pedro_aguirre_cerda">Pedro Aguirre Cerda</ion-select-option>
          <ion-select-option value="conchali">Conchalí</ion-select-option>
          <ion-select-option value="renca">Renca</ion-select-option>
          <ion-select-option value="la_pintana">La Pintana</ion-select-option>
          <ion-select-option value="san_miguel">San Miguel</ion-select-option>
          <ion-select-option value="san_joaquin">San Joaquín</ion-select-option>
          <ion-select-option value="lo_espejo">Lo Espejo</ion-select-option>
          <ion-select-option value="la_granja">La Granja</ion-select-option>
          <ion-select-option value="lo_barnechea">Lo Barnechea</ion-select-option>
          <ion-select-option value="vitacura">Vitacura</ion-select-option>
          <ion-select-option value="cerrillos">Cerrillos</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-text color="danger" *ngIf="publicacionForm.get('comuna')?.touched && publicacionForm.get('comuna')?.invalid">
      Selecciona una comuna.
    </ion-text>

    <input type="file" hidden #fileInput (change)="seleccionarImagenDesdeInput($event)" />

    <ion-button expand="block" color="danger" type="submit" [disabled]="publicacionForm.invalid">
      Publicar
    </ion-button>
  </form>
</ion-content>
