.custom-header {
  --background: #ffffff !important;
  box-shadow: none;
  border-bottom: none;

  .logo {
    font-size: 1.5rem;
    font-family: 'Impact', 'Arial Black', sans-serif;
    color: #b30000;
  }

  .profile-avatar img {
    width: 40px;
    height: 40px;
    border: 2px solid #b30000;
    border-radius: 50%;
    margin-top: 15px;
  }
}

ion-content {
  --background: #6b0000 !important;
  padding: 0 12px;
  padding-bottom: 80px !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
}

.message {
  display: flex;
  align-items: flex-start;
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 0.9rem;
  line-height: 1.4;
  color: white;
  background-color: #8b0000;
  word-wrap: break-word;

  &.left {
    align-self: flex-start;
    background-color: #8b0000;
    border-top-left-radius: 0;
  }

  &.right {
    align-self: flex-end;
    background-color: #b30000;
    border-top-right-radius: 0;
  }

  ion-avatar {
    width: 32px;  /* Tamaño más pequeño */
    height: 32px; /* Tamaño más pequeño */
    margin-right: 8px;  /* Espacio entre la foto y el mensaje */
  }

  span {
    max-width: 80%; /* Limita el texto para no sobrepasar el avatar */
    word-wrap: break-word;
  }
}

.custom-footer,
ion-footer {
  --background: #8b0000 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 10;
  padding-top: 6px;

  ion-toolbar {
    --background: transparent;
    display: flex;
    justify-content: space-between;
  }

  .footer-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    ion-icon {
      color: #fff;
      font-size: 1.5rem;
    }
  }

  ion-icon {
    color: white;
    font-size: 1.5rem;
  }
}

.notification-button {
  position: absolute;
  right: 40px;   // mueve hacia la derecha del avatar
  bottom: -5px;  // mueve hacia abajo del avatar
  z-index: 2;
  width: 48px;
  height: 36px;
  border-radius: 50%;
  padding: 6px;
  background-color: transparent;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

  ion-icon {
    font-size: 60px;
    color: #b30000;
  }
}
