<ion-header class="custom-header">
  <ion-toolbar>
<ion-title class="logo" slot="start">MYJOBIFY</ion-title>
    <ion-buttons slot="end">
      <div class="avatar-container">
        
          <!-- Boton notificación -->
        <ion-button class="notification-button" color="danger" fill="clear">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>

          <!-- Boton perfil -->
        <ion-button fill="clear" [routerLink]="'/miperfil'" class="profile-btn">
          <ion-avatar class="profile-avatar">
            <img src="https://e7.pngegg.com/pngimages/789/888/png-clipart-computer-icons-login-person-user-avatar-log-smiley-desktop-wallpaper.png" alt="Perfil">
          </ion-avatar>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="chat-preview-content">
  <ion-list>
    <ion-item *ngFor="let chat of chats" class="chat-item" (click)="goToChat(chat)">
      <ion-avatar slot="start" class="chat-avatar">
        <img src="https://e7.pngegg.com/pngimages/789/888/png-clipart-computer-icons-login-person-user-avatar-log-smiley-desktop-wallpaper.png" />
      </ion-avatar>
      <ion-label class="chat-text">
        <h2 class="message">{{ chat.mensaje }}</h2>
        <p class="time">{{ chat.tiempo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-buttons class="footer-buttons">

      <ion-button fill="clear" [routerLink]="'/inicio'">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="bookmark" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button fill="clear" [routerLink]="'/chat-preview'">
        <ion-icon name="chatbubble" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" [routerLink]="'/crear-publicacion'">
        <ion-icon name="add-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>